---
import * as prismic from '@prismicio/client'
import fetch from 'node-fetch'
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const repoName = 'sdm-astro';
const client = prismic.createClient(repoName, { fetch });

// const pageData = async () => {
    const prismicDoc = await client.getFirst();
    const { page_title, description } = prismicDoc.data;
    const titleHTML = prismic.asHTML(page_title);
    const descriptionHTML = prismic.asHTML(description);
	// const image = prismic.asImageSrc(prismicDoc.data.image);
	const imageHTML = `"${prismicDoc.data.image.url}"`;

    // console.log(titleHTML, descriptionHTML);

	console.log(prismicDoc.data.image)
// }
const test = "Alt text";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
		<Navigation />
		<h1>My Astro Site Hello Everyone</h1>
		<Fragment set:html={descriptionHTML} />
		<img src={prismicDoc.data.image.url} alt={test}>
		<Footer />
	</body>
</html>
